#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todoList {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 200px;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid grey;
  padding: 0.4rem;
}

.todoList > button {
  background-color: #242424;
  border: none;
}

.todoList > button:hover {
  transform: scale(1.2);
  color: red;
}
